@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root{
   --cor-de-fundo:rgba(189, 66, 237, 0.3);
   --cor-texto:#DC9BF5;
   --botao-inativo:rgba(133, 66, 237, 0.5);
   --letras-maiuscula:#E4B7F5;
   --letras-tempo:#DC9BF5;
   --numeros:#FFFFFF;
   --letra-rosa-claro:#E4B7F5;
}

body{
   background-color: var(--cor-de-fundo);
  color: var(--cor-texto);
  font-family:'lora', sans-serif;

}
.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}