:root{
   --cor-de-fundo:rgba(189, 66, 237, 0.3);
   --cor-texto:#DC9BF5;
   --botao-inativo:rgba(133, 66, 237, 0.5);
   --letras-maiuscula:#E4B7F5;
   --letras-tempo:#DC9BF5;
   --numeros:#FFFFFF;
   --letra-botaoi:#E4B7F5;
   --letra-objetivo:#E4B7F5;
   



}